
/*--------------------------------
        common styles
-------------------------------- */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Work Sans", sans-serif;
}

/*---------------------------------
        Header Styles start here 
 -----------------------------------*/
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 30px;
}
header {
  background: rgba(255, 144, 14, 0.1);
}
nav {
  display: flex;
  justify-content: space-between;
  height: 80px;
  align-items: center;
}
.logo {
  font-weight: 700;
  font-size: 18px;
}
.navigation {
  display: flex;
}
.navigation li {
  list-style: none;
  margin: 25px;
}
.navigation li a {
  text-decoration: none;
  color: #424242;
  font-weight: 600;
  font-size: 18px;
}

/* -------------------------------
        Banner Styles Start 
 -------------------------------*/

.group-of-architects {
  text-align: center;
  margin-top: 50px;
}
.group-of-architects-title {
  font-weight: 900;
  font-size: 3em;
  color: #131313;
  text-align: center;
}

.group-of-architects-description {
  margin: 25px 0;
  line-height: 26px;
}

.btn-Explore {
  padding: 15px 15px;
  background: #ff900e;
  border-radius: 8px;
  border: none;
  color: white;
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 30px;
}
.group-of-architects img {
  width: 100%;
  margin-bottom: 40px;
}

/* -------------------------------
        Banner Styles End 
 -------------------------------*/
/*---------------------------------
        Header Styles end here 
 -----------------------------------*/

/* -----------------------------------------------
        Quick list of Our Features Styles Start
    -------------------------------------------- */
.our-feature-list {
  display: flex;
  align-items: center;
  gap: 60px;
}
.our-feature-img {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  margin: 70px 0;
}
.our-feature-description {
  font-size: 30px;
}
.feature-title {
  color: #727272;
}
.black-color {
  color: #131313;
}
.orange-color {
  color: #ff900e;
}
.feature-descrip {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #727272;
  margin-bottom: 20px;
}

/* -----------------------------------------------
        Quick list of Our Features Styles Start
    -------------------------------------------- */

/*--------------------------------------------------
    Features you will love & enjoy Styles  start
  -------------------------------------------------- */

.love-features {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 60px;
  margin: 40px 0;
  
}

.title-feature{
    font-weight: 700;
    font-size: 35px;
    line-height: 43px;
    color: #131313;
    border-left: 5px solid orange;
     padding-left: 20px;
 
}
.feature-content p{
    margin: 20px 0; 
}
.all-feature-content{
    margin-left: 30px;
}
.feature{
    padding: 20px 0;
    background: #FFFFFF;
    box-shadow: 1px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    margin-bottom: 5px;
}
.feature h1{
    font-weight: 600;
    font-size: 20px; 
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: #727272;   
    padding: 10px 0;        
}
.feature p{
    padding: 10px 0;
}
.features-right img{
    width: 100%;
    
}
.features-right{
width:50%;
}
.features-left{
    width:50%;
}

.btn{
    width: 342px;
    height: 200px;
    margin: 0 auto;
    margin-top:-140px;

   
}
.btn-experience{
    padding: 20px 20px;
    background: #FF900E;
    border-radius: 8px;
    border: 0;
    color: #FFF4E7;
    margin-left: 150px;
}
.btn-text{
    font-size: 30px;
    padding: 5px 0;
}

/*---------------------------------------------------
     Features you will love & enjoy Styles End
----------------------------------------------- ---*/

/* ---------------------------------
    Some Facts styles start 
    ------------------------------*/
.some-facts {
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  margin-top: 30px;
}
.some-facts h1 {
  font-weight: bold;
  font-size: 35px;
  color: black;
  text-align: left;
  margin: 50px 0 10px 0;
}
.some-facts p {
  padding-top: 10px;
  color: #727272;
}

.all-category-work {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.category {
  width: 170px;
  height: 170px;
  text-align: center;
  margin: 100px 45px;
  padding: 20px 20px;
  border: 1px solid #ff900e;
  border-radius: 8px;
  /* transform: rotate(90deg); */
}
.category p {
  color: #727272;
}

/* -------------------------------------
        Some Facts Styles End 
 -------------------------------------*/

/* --------------------------------------
        Our Sponsors Styles Start
 --------------------------------------- */
.our-sponsors-info {
  text-align: center;
}
.our-sponsors-info h1 {
  font-weight: 900;
  font-size: 35px;
  margin-bottom: 10px;
}
.our-sponsors-info p {
  color: #727272;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
}
.all-sponsors{
   display: flex;
   justify-content: space-between;
   align-items: center;
   gap: 80px;
   margin: 50px 0 80px 0;
}
.all-sponsors img{
    filter: grayscale(1);   
}
/* --------------------------------------
        Our Sponsors Styles End
 --------------------------------------- */
/* ---------------------------------------
            Footer Style Start 
 ----------------------------------------*/
    .footer{
         /* width: 100%; */
         height: 100px; 
        background: #FFF4E7;
        border-radius: 8px;
        margin-bottom: 10px;
    }
    .footer p{
       text-align: center;
        padding-top: 40px;   
    }
 /* ---------------------------------------
            Footer Style End
 ----------------------------------------*/